* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: #ddd;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
    width: 90%;
    margin: 20px auto;

    display: grid; /* Define um display GRID para o container */
    grid-gap: 10px; /* Define espaçamento entre lonhas e colunas */
    grid-template-columns: repeat(3, 1fr); /* Define o grid com 3 colunas */
    grid-template-rows: repeat(4, auto); /* Define o GRID com 3 linhas */
}

.container > div,
.container .header,
.container .main,
.container .aside,
.container .footer {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}

.container .header {
    background: #12203e;
    color: #fff;

    grid-column-start: 1; /* Define que o header inicia na coluna 1*/
    grid-column-end: -1; /* Define que o header encerra na ultima coluna*/
    /* define-se -1 quando não se sabe a quantidade de coluna */
}

.container .main {
    grid-column: span 2;
}

.container .aside {
    background: #faa43d;
    grid-column: span 1; /* Define a espanção de 1 coluna */
    grid-row: span 2; /* Define a espanção de 2 linha */
    display: flex;
    justify-content: center;
    align-items: center;
}